{{ define "title" }}{{ .Title }} | {{ .Site.Title }}{{ end }}

{{ define "content" }}
    {{ $talk_date := .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}
    {{ $talk_time := .Date.Format (.Site.Params.dateFormatToUse | default "3:04 pm") }}
    {{ $author := .Site.Author.name }}
    {{ $desc := .Title}}
    {{ if isset .Params "description"}}
        {{ $desc = .Params.description}}
    {{end}}

    <article class="post-warp">
        <h1 class="talk-title">{{ $desc }}</h1>
        <div class="post-meta">
        <div class="post-meta-main">
            {{ if isset .Params "slide_url"}}
                <a class="author" 
                   href="{{ .Params.slide_url }}" 
                   target="_blank" rel="noopener">
                    slides |
                </a>
            {{end}}
            {{ if isset .Params "github_url"}}
                <a class="author" 
                href="{{ .Params.github_url }}" target="_blank" rel="noopener">
                    code |
                </a>
            {{end}}
            {{ if isset .Params "video_url"}}
                <a class="author" 
                href="{{ .Params.video_url }}" target="_blank" rel="noopener">
                    watch 
                </a>
            {{end}}
        </div>
        </div>
        <div class = "talk-meta">
            {{ if ne .Title $desc}}
                Event: &nbsp; 
                <a href = "{{ .Params.event_url }}"> {{ .Title }}
                </a>
                <br>
            {{end}}
            Date: &nbsp; {{$talk_date}}
            <br> 
            Time: &nbsp; 
            {{ if ne $talk_time "12:00 am"}}
                {{$talk_time}}
            {{ else }}
                TBD
            {{ end }}
            <br>
            {{ if isset .Params "location"}}
                Location: &nbsp; {{.Params.location}}
                <br>
            {{end}}
        </div>

        {{ with .Params.featured_image }}
            <div class="post-featured-image">
                <img src=/images/loading.svg data-sizes=auto data-src={{ . }} alt="featured image" class="lazyload">
            </div>
        {{ end }}

        

        <div class="post-content">
            {{ $content := .Content }}
            {{ $REin := `<img src="([^"]+)" alt="([^"]+)?" />` }}
            {{ $REout := "<figure><img src=/images/loading.svg data-sizes=auto data-src=$1 alt=$2 class=lazyload><figcaption class=image-caption>$2</figcaption></figure>" }}
            {{ $content = replaceRE $REin $REout $content }}
            {{ $REin = `<img src="([^"]+)" alt="([^"]+)?" title="([^"]+)?" />` }}
            {{ $REout = "<figure><img src=/images/loading.svg data-src=$1 data-sizes=auto alt=$2 title=$3 class=lazyload><figcaption class=image-caption>$2</figcaption></figure>" }}
            {{ $content = replaceRE $REin $REout $content }}
            {{ $REin = `:\(([\w- ]+?)\):` }}
            {{ $REout = `<i class="$1 fa-fw"></i>` }}
            {{ $content = replaceRE $REin $REout $content }}
            {{ $REin = `\[(.+?)\]\^\((.+?)\)` }}
            {{ $REout = `<strong><ruby>$1<rt>$2</rt></ruby></strong>` }}
            {{ $content = replaceRE $REin $REout $content }}
            {{ $REin = `<sup>\[return\]</sup>` }}
            {{ $REout = printf "<sup>[%s]</sup>" (T "return") }}
            {{ $content = replaceRE $REin $REout $content }}
            {{ $REin = `<(h[123456]) (id=".+?")>` }}
            {{ $REout = `<a class="post-dummy-target" $2></a><$1>` }}
            {{ $content = replaceRE $REin $REout $content }}
            {{ $REin = `<(sup class="footnote-ref") (id="fnref:.+?")>` }}
            {{ $REout = `<a class="post-dummy-target" $2></a><$1>` }}
            {{ $content = replaceRE $REin $REout $content }}
            {{ $REin = `<(li) (id="fn:.+?")>` }}
            {{ $REout = `<$1><a class="post-dummy-target" $2></a>` }}
            {{ $content = replaceRE $REin $REout $content }}
            {{ $content | safeHTML }}
        </div>

        {{ partial "post/footer.html" . }}

    </article>
{{- end }}