{{ define "title" }}{{ .Title }} | {{ .Site.Title }}{{ end }}

{{ define "content" }}
    {{ $talk_date := .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}
    {{ $talk_time := .Date.Format (.Site.Params.dateFormatToUse | default "15:04") }}
    {{ $author := .Site.Author.name }}
    {{ if isset .Params "author" }}
       {{ $author = .Site.Author.name }}
    {{ end }}

    <article class="post-warp">
        <h1 class="post-title animated flipInX">{{ .Title }}</h1>
        <div class = "talk-meta">
            <a class="author" href="{{.Site.BaseURL }}about/" rel="author">
                    <i class="fas fa-user-circle fa-fw"></i>{{ $author }}&nbsp;
            </a>
             <i class="far fa-calendar-alt fa-fw"></i> {{ $talk_date }}&nbsp;
            <i class="far fa-clock fa-fw"></i> 
            {{ if eq $talk_time "00:00" }} 
                TBD
            {{else}}
                {{$talk_time}} 
            {{end}}&nbsp;
            
            <div class="talk-meta">
                {{ if isset .Params "slide_url"}}
                    <a href="{{ .Params.slide_url }}" 
                       target="_blank" rel="noopener">
                       <i class="fas fa-images"></i>
                       slides
                    </a> &nbsp;
                {{end}}
            {{ if isset .Params "github_url"}}
                <a href="{{ .Params.github_url }}" 
                target="_blank" 
                rel="noopener">
                    <i class="fab fa-github"></i>
                    code
                </a> &nbsp;
            {{end}}
            {{ if isset .Params "video_url"}}
                <a href="{{ .Params.video_url }}" 
                   target="_blank" rel="noopener">
                    <i class="fas fa-video"></i>
                    video
                </a> &nbsp;
            {{end}}
        </div>
        </div>

        {{ with .Params.featured_image }}
            <div class="post-featured-image">
                <img src=/images/loading.svg data-sizes=auto data-src={{ . }} alt="featured image" class="lazyload">
            </div>
        {{ end }}

        

        <div class="post-content">
            {{ $content := .Content }}
            {{ $REin := `<img src="([^"]+)" alt="([^"]+)?" />` }}
            {{ $REout := "<figure><img src=/images/loading.svg data-sizes=auto data-src=$1 alt=$2 class=lazyload><figcaption class=image-caption>$2</figcaption></figure>" }}
            {{ $content = replaceRE $REin $REout $content }}
            {{ $REin = `<img src="([^"]+)" alt="([^"]+)?" title="([^"]+)?" />` }}
            {{ $REout = "<figure><img src=/images/loading.svg data-src=$1 data-sizes=auto alt=$2 title=$3 class=lazyload><figcaption class=image-caption>$2</figcaption></figure>" }}
            {{ $content = replaceRE $REin $REout $content }}
            {{ $REin = `:\(([\w- ]+?)\):` }}
            {{ $REout = `<i class="$1 fa-fw"></i>` }}
            {{ $content = replaceRE $REin $REout $content }}
            {{ $REin = `\[(.+?)\]\^\((.+?)\)` }}
            {{ $REout = `<strong><ruby>$1<rt>$2</rt></ruby></strong>` }}
            {{ $content = replaceRE $REin $REout $content }}
            {{ $REin = `<sup>\[return\]</sup>` }}
            {{ $REout = printf "<sup>[%s]</sup>" (T "return") }}
            {{ $content = replaceRE $REin $REout $content }}
            {{ $REin = `<(h[123456]) (id=".+?")>` }}
            {{ $REout = `<a class="post-dummy-target" $2></a><$1>` }}
            {{ $content = replaceRE $REin $REout $content }}
            {{ $REin = `<(sup class="footnote-ref") (id="fnref:.+?")>` }}
            {{ $REout = `<a class="post-dummy-target" $2></a><$1>` }}
            {{ $content = replaceRE $REin $REout $content }}
            {{ $REin = `<(li) (id="fn:.+?")>` }}
            {{ $REout = `<$1><a class="post-dummy-target" $2></a>` }}
            {{ $content = replaceRE $REin $REout $content }}
            {{ $content | safeHTML }}
        </div>

        {{ partial "post/footer.html" . }}

    </article>
{{- end }}